@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&family=Open+Sans:wght@300;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

.container {
    width: 80%;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}

body {
    background-color: rgb(33, 27, 27);
    margin: 0;
    overflow: hidden;
}

.lettero {
    font-size: 96px;
}

.logo {
    font-family: Orbitron;
    color: rgba(255,192,203);
    font-size: 60px;
    text-align: center;
}